body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u795 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u796 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u797 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u798 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799 {
  position:absolute;
  left:137px;
  top:13px;
  width:73px;
  height:25px;
}
#u799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u800 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u801 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u803 {
  position:absolute;
  left:136px;
  top:152px;
  width:68px;
  height:25px;
}
#u803_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u804 {
  position:absolute;
  left:258px;
  top:152px;
  width:102px;
  height:25px;
}
#u804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u805 {
  position:absolute;
  left:137px;
  top:179px;
  width:88px;
  height:24px;
}
#u805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:1px;
}
#u806 {
  position:absolute;
  left:14px;
  top:221px;
  width:345px;
  height:1px;
}
#u807 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u808 {
  position:absolute;
  left:59px;
  top:157px;
  width:46px;
  height:50px;
}
#u809 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u810 {
  position:absolute;
  left:59px;
  top:237px;
  width:46px;
  height:50px;
}
#u811 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813 {
  position:absolute;
  left:139px;
  top:72px;
  width:70px;
  height:25px;
}
#u813_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u814 {
  position:absolute;
  left:263px;
  top:72px;
  width:90px;
  height:25px;
}
#u814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u815 {
  position:absolute;
  left:140px;
  top:99px;
  width:89px;
  height:24px;
}
#u815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:1px;
}
#u816 {
  position:absolute;
  left:14px;
  top:141px;
  width:346px;
  height:1px;
}
#u817 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u818 {
  position:absolute;
  left:59px;
  top:77px;
  width:46px;
  height:50px;
}
#u819 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820 {
  position:absolute;
  left:10px;
  top:94px;
  width:17px;
  height:16px;
}
#u821 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u822 {
  position:absolute;
  left:10px;
  top:174px;
  width:17px;
  height:16px;
}
#u823 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u824 {
  position:absolute;
  left:10px;
  top:573px;
  width:161px;
  height:25px;
}
#u824_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u824.selected {
}
#u825 {
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u826 {
  position:absolute;
  left:187px;
  top:573px;
  width:163px;
  height:25px;
}
#u826_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u826.selected {
}
#u827 {
  position:absolute;
  left:2px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829 {
  position:absolute;
  left:138px;
  top:312px;
  width:68px;
  height:25px;
}
#u829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u830 {
  position:absolute;
  left:260px;
  top:312px;
  width:102px;
  height:25px;
}
#u830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u831 {
  position:absolute;
  left:139px;
  top:339px;
  width:88px;
  height:24px;
}
#u831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:1px;
}
#u832 {
  position:absolute;
  left:16px;
  top:381px;
  width:345px;
  height:1px;
}
#u833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835 {
  position:absolute;
  left:141px;
  top:232px;
  width:70px;
  height:25px;
}
#u835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u836 {
  position:absolute;
  left:261px;
  top:232px;
  width:90px;
  height:25px;
}
#u836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u837 {
  position:absolute;
  left:142px;
  top:259px;
  width:89px;
  height:24px;
}
#u837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:1px;
}
#u838 {
  position:absolute;
  left:16px;
  top:301px;
  width:346px;
  height:1px;
}
#u839 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840 {
  position:absolute;
  left:12px;
  top:254px;
  width:17px;
  height:16px;
}
#u841 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u842 {
  position:absolute;
  left:12px;
  top:334px;
  width:17px;
  height:16px;
}
#u843 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u844 {
  position:absolute;
  left:10px;
  top:46px;
  width:17px;
  height:16px;
}
#u845 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u846 {
  position:absolute;
  left:27px;
  top:42px;
  width:73px;
  height:25px;
}
#u846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u847 {
  position:absolute;
  left:59px;
  top:317px;
  width:46px;
  height:50px;
}
#u848 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
