body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8949 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u8950 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8951 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u8952 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:63px;
}
#u8953 {
  position:absolute;
  left:144px;
  top:156px;
  width:61px;
  height:62px;
}
#u8954 {
  position:absolute;
  left:2px;
  top:23px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8955 {
  position:absolute;
  left:107px;
  top:352px;
  width:149px;
  height:17px;
}
#u8956 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u8957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8957 {
  position:absolute;
  left:153px;
  top:234px;
  width:43px;
  height:17px;
}
#u8958 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8959 {
  position:absolute;
  left:150px;
  top:421px;
  width:50px;
  height:50px;
}
#u8960 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u8961 {
  position:absolute;
  left:161px;
  top:480px;
  width:24px;
  height:13px;
  font-size:11px;
}
#u8962 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u8963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8963 {
  position:absolute;
  left:377px;
  top:0px;
  width:360px;
  height:604px;
}
#u8964 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:63px;
}
#u8965 {
  position:absolute;
  left:533px;
  top:156px;
  width:61px;
  height:62px;
}
#u8966 {
  position:absolute;
  left:2px;
  top:23px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8967 {
  position:absolute;
  left:544px;
  top:234px;
  width:43px;
  height:17px;
}
#u8968 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8969 {
  position:absolute;
  left:539px;
  top:410px;
  width:50px;
  height:50px;
}
#u8970 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u8971 {
  position:absolute;
  left:550px;
  top:469px;
  width:24px;
  height:13px;
  font-size:11px;
}
#u8972 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u8973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:42px;
}
#u8973 {
  position:absolute;
  left:438px;
  top:414px;
  width:33px;
  height:42px;
}
#u8974 {
  position:absolute;
  left:2px;
  top:13px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u8975 {
  position:absolute;
  left:655px;
  top:415px;
  width:50px;
  height:43px;
}
#u8976 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u8977 {
  position:absolute;
  left:441px;
  top:471px;
  width:24px;
  height:13px;
  font-size:11px;
}
#u8978 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u8979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u8979 {
  position:absolute;
  left:668px;
  top:468px;
  width:24px;
  height:13px;
  font-size:11px;
}
#u8980 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u8981 {
  position:absolute;
  left:469px;
  top:357px;
  width:50px;
  height:24px;
  font-size:20px;
  text-align:right;
}
#u8982 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u8983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u8983 {
  position:absolute;
  left:551px;
  top:357px;
  width:40px;
  height:24px;
  font-size:20px;
  text-align:right;
}
#u8984 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u8985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8985 {
  position:absolute;
  left:531px;
  top:361px;
  width:20px;
  height:16px;
  text-align:right;
}
#u8986 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u8987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8987 {
  position:absolute;
  left:591px;
  top:361px;
  width:20px;
  height:16px;
  text-align:right;
}
#u8988 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u8989 {
  position:absolute;
  left:469px;
  top:357px;
  width:20px;
  height:24px;
  overflow:hidden;
}
#u8989_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8989_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8990 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:17px;
}
#u8991 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8989_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8989_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
