body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:532px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9139 {
  position:absolute;
  left:1px;
  top:-1px;
  width:354px;
  height:532px;
}
#u9140 {
  position:absolute;
  left:2px;
  top:258px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u9142 {
  position:absolute;
  left:108px;
  top:12px;
  width:63px;
  height:47px;
  font-size:11px;
}
#u9143 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  word-wrap:break-word;
}
#u9144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u9144 {
  position:absolute;
  left:169px;
  top:12px;
  width:63px;
  height:47px;
  font-size:11px;
}
#u9145 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  word-wrap:break-word;
}
#u9146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u9146 {
  position:absolute;
  left:228px;
  top:12px;
  width:63px;
  height:47px;
  font-size:11px;
}
#u9147 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  word-wrap:break-word;
}
#u9148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u9148 {
  position:absolute;
  left:291px;
  top:12px;
  width:63px;
  height:47px;
  font-size:11px;
}
#u9149 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  word-wrap:break-word;
}
#u9150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:59px;
}
#u9150 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:59px;
}
#u9151 {
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:153px;
}
#u9152 {
  position:absolute;
  left:84px;
  top:122px;
  width:185px;
  height:152px;
}
#u9153 {
  position:absolute;
  left:2px;
  top:68px;
  width:181px;
  word-wrap:break-word;
}
#u9154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9154 {
  position:absolute;
  left:74px;
  top:309px;
  width:74px;
  height:25px;
}
#u9155 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u9156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9156 {
  position:absolute;
  left:208px;
  top:309px;
  width:79px;
  height:25px;
}
#u9157 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
