body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  position:absolute;
  left:1px;
  top:0px;
  width:360px;
  height:592px;
}
#u636 {
  position:absolute;
  left:2px;
  top:288px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:289px;
  background:inherit;
  background-color:rgba(244, 244, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u637 {
  position:absolute;
  left:8px;
  top:63px;
  width:347px;
  height:289px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u638 {
  position:absolute;
  left:18px;
  top:11px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639 {
  position:absolute;
  left:149px;
  top:12px;
  width:73px;
  height:25px;
}
#u639_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u640 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u641 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:2px;
}
#u642 {
  position:absolute;
  left:3px;
  top:55px;
  width:354px;
  height:1px;
}
#u643 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u644 {
  position:absolute;
  left:143px;
  top:172px;
  width:50px;
  height:50px;
}
#u645 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u646 {
  position:absolute;
  left:378px;
  top:105px;
  width:129px;
  height:31px;
}
#u647 {
  position:absolute;
  left:10px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u648 {
  position:absolute;
  left:293px;
  top:12px;
  width:23px;
  height:18px;
}
#u649 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u650 {
  position:absolute;
  left:451px;
  top:19px;
  width:39px;
  height:37px;
}
#u651 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u652 {
  position:absolute;
  left:490px;
  top:25px;
  width:129px;
  height:31px;
}
#u653 {
  position:absolute;
  left:10px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
}
#u656 {
  position:absolute;
  left:327px;
  top:325px;
  width:13px;
  height:1px;
}
#u657 {
  position:absolute;
  left:2px;
  top:-8px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u658 {
  position:absolute;
  left:327px;
  top:325px;
  width:1px;
  height:14px;
}
#u659 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
}
#u661 {
  position:absolute;
  left:330px;
  top:342px;
  width:13px;
  height:1px;
}
#u662 {
  position:absolute;
  left:2px;
  top:-8px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u663 {
  position:absolute;
  left:342px;
  top:328px;
  width:1px;
  height:14px;
}
#u664 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u665 {
  position:absolute;
  left:395px;
  top:317px;
  width:112px;
  height:37px;
}
#u666 {
  position:absolute;
  left:10px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
