body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039 {
  position:absolute;
  left:136px;
  top:13px;
  width:113px;
  height:25px;
}
#u2039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u2040 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2043 {
  position:absolute;
  left:67px;
  top:68px;
  width:62px;
  height:59px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045 {
  position:absolute;
  left:75px;
  top:143px;
  width:62px;
  height:25px;
}
#u2045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2047 {
  position:absolute;
  left:214px;
  top:68px;
  width:62px;
  height:59px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049 {
  position:absolute;
  left:219px;
  top:143px;
  width:62px;
  height:25px;
}
#u2049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
