body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10437 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u10438 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10439 {
  position:absolute;
  left:152px;
  top:13px;
  width:73px;
  height:25px;
}
#u10439_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u10440 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u10441 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u10442 {
  position:absolute;
  left:0px;
  top:334px;
  width:32px;
  height:28px;
}
#u10443 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:242px;
}
#u10444 {
  position:absolute;
  left:0px;
  top:362px;
  width:360px;
  height:242px;
}
#u10445 {
  position:absolute;
  left:2px;
  top:113px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#09BB07;
}
#u10446 {
  position:absolute;
  left:42px;
  top:334px;
  width:300px;
  height:30px;
  color:#09BB07;
}
#u10447 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  word-wrap:break-word;
}
