body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  position:absolute;
  left:0px;
  top:-50px;
  width:360px;
  height:604px;
}
#u417 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u418 {
  position:absolute;
  left:110px;
  top:468px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u419 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:95px;
}
#u420 {
  position:absolute;
  left:113px;
  top:96px;
  width:137px;
  height:94px;
}
#u421 {
  position:absolute;
  left:2px;
  top:39px;
  width:133px;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:240px;
  top:90px;
  width:100px;
  height:16px;
}
#u423 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:95px;
}
#u424 {
  position:absolute;
  left:113px;
  top:257px;
  width:137px;
  height:94px;
}
#u425 {
  position:absolute;
  left:2px;
  top:39px;
  width:133px;
  word-wrap:break-word;
}
#u426 {
  position:absolute;
  left:240px;
  top:251px;
  width:100px;
  height:16px;
}
#u427 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u428 {
  position:absolute;
  left:162px;
  top:200px;
  width:47px;
  height:25px;
}
#u428_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u429 {
  position:absolute;
  left:162px;
  top:361px;
  width:47px;
  height:25px;
}
#u429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u430 {
  position:absolute;
  left:141px;
  top:13px;
  width:88px;
  height:25px;
}
#u430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u431 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u432 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u433 {
  position:absolute;
  left:269px;
  top:8px;
  width:81px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u434 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
