body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8966 {
  position:absolute;
  left:163px;
  top:189px;
  width:120px;
  height:38px;
  font-size:18px;
}
#u8967 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u8968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8968 {
  position:absolute;
  left:99px;
  top:245px;
  width:127px;
  height:43px;
}
#u8969 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u8970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8970 {
  position:absolute;
  left:100px;
  top:288px;
  width:239px;
  height:53px;
}
#u8971 {
  position:absolute;
  left:2px;
  top:18px;
  width:235px;
  word-wrap:break-word;
}
#u8972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:171px;
}
#u8972 {
  position:absolute;
  left:416px;
  top:163px;
  width:1px;
  height:170px;
}
#u8973 {
  position:absolute;
  left:2px;
  top:77px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8974 {
  position:absolute;
  left:588px;
  top:189px;
  width:120px;
  height:38px;
  font-size:18px;
}
#u8975 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u8976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8976 {
  position:absolute;
  left:506px;
  top:245px;
  width:284px;
  height:43px;
}
#u8977 {
  position:absolute;
  left:2px;
  top:14px;
  width:280px;
  word-wrap:break-word;
}
#u8978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8978 {
  position:absolute;
  left:506px;
  top:288px;
  width:239px;
  height:53px;
}
#u8979 {
  position:absolute;
  left:2px;
  top:18px;
  width:235px;
  word-wrap:break-word;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8981 {
  position:absolute;
  left:718px;
  top:19px;
  width:135px;
  height:55px;
}
#u8982 {
  position:absolute;
  left:2px;
  top:20px;
  width:131px;
  word-wrap:break-word;
}
#u8983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8983 {
  position:absolute;
  left:853px;
  top:19px;
  width:133px;
  height:55px;
}
#u8984 {
  position:absolute;
  left:2px;
  top:20px;
  width:129px;
  word-wrap:break-word;
}
#u8985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8985 {
  position:absolute;
  left:986px;
  top:19px;
  width:136px;
  height:55px;
}
#u8986 {
  position:absolute;
  left:2px;
  top:20px;
  width:132px;
  word-wrap:break-word;
}
#u8987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8987 {
  position:absolute;
  left:1122px;
  top:19px;
  width:136px;
  height:55px;
}
#u8988 {
  position:absolute;
  left:2px;
  top:20px;
  width:132px;
  word-wrap:break-word;
}
#u8989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:70px;
}
#u8989 {
  position:absolute;
  left:10px;
  top:10px;
  width:92px;
  height:70px;
}
#u8990 {
  position:absolute;
  left:2px;
  top:27px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8991 {
  position:absolute;
  left:222px;
  top:113px;
  width:150px;
  height:53px;
}
#u8992 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
