body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1603px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:591px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7801 {
  position:absolute;
  left:10px;
  top:82px;
  width:197px;
  height:591px;
}
#u7802 {
  position:absolute;
  left:2px;
  top:288px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7803 {
  position:absolute;
  left:10px;
  top:10px;
  width:1345px;
  height:72px;
}
#u7804 {
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7805 {
  position:absolute;
  left:1146px;
  top:35px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u7806 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u7807 {
  position:absolute;
  left:43px;
  top:28px;
  width:262px;
  height:28px;
  font-size:24px;
}
#u7808 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u7809 {
  position:absolute;
  left:39px;
  top:149px;
  width:118px;
  height:85px;
}
#u7809_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7810 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7811 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u7811_img.selected {
}
#u7811.selected {
}
#u7812 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7813 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7814 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7810_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7815 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u7816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7816 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7817 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7818 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u7819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7819 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u7820 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u7821 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u7822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7822 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7823 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7824 {
  position:absolute;
  left:39px;
  top:243px;
  width:118px;
  height:105px;
}
#u7824_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7825 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7826 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u7826_img.selected {
}
#u7826.selected {
}
#u7827 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7828 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7829 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7825_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7830 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u7831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7831 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7832 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7833 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u7834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7834 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7835 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7836 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u7837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7837 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7838 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7839 {
  position:absolute;
  left:20px;
  top:80px;
  width:93px;
  height:20px;
}
#u7840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7840 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u7841 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u7842 {
  position:absolute;
  left:39px;
  top:367px;
  width:105px;
  height:65px;
}
#u7842_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7843 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7844 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u7844_img.selected {
}
#u7844.selected {
}
#u7845 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7846 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7847 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7843_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7848 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u7849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7849 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7850 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7851 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u7852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7852 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7853 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u7854 {
  position:absolute;
  left:1278px;
  top:40px;
  width:19px;
  height:12px;
}
#u7855 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7856 {
  position:absolute;
  left:39px;
  top:519px;
  width:131px;
  height:145px;
}
#u7856_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7857 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7858 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u7858_img.selected {
}
#u7858.selected {
}
#u7859 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7860 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7861 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7857_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7862 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u7863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7863 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7864 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7865 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u7866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7866 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7867 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7868 {
  position:absolute;
  left:20px;
  top:60px;
  width:77px;
  height:20px;
}
#u7869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7869 {
  position:absolute;
  left:22px;
  top:0px;
  width:55px;
  height:20px;
}
#u7870 {
  position:absolute;
  left:3px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u7871 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
}
#u7872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7872 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u7873 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u7874 {
  position:absolute;
  left:20px;
  top:100px;
  width:93px;
  height:20px;
}
#u7875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7875 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u7876 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u7877 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
}
#u7878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7878 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u7879 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u7880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7880 {
  position:absolute;
  left:60px;
  top:119px;
  width:29px;
  height:16px;
}
#u7881 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7882 {
  position:absolute;
  left:46px;
  top:449px;
  width:118px;
  height:65px;
}
#u7882_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7883 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u7884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u7884 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u7884_img.selected {
}
#u7884.selected {
}
#u7885 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7886 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u7887 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u7883_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7888 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u7889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7889 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7890 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u7891 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u7892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7892 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u7893 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u7894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7894 {
  position:absolute;
  left:264px;
  top:719px;
  width:65px;
  height:16px;
  color:#0000FF;
}
#u7895 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7896 {
  position:absolute;
  left:363px;
  top:712px;
  width:283px;
  height:30px;
}
#u7896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7897 {
  position:absolute;
  left:676px;
  top:712px;
  width:75px;
  height:30px;
}
#u7898 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u7899 {
  position:absolute;
  left:264px;
  top:759px;
  width:409px;
  height:137px;
}
#u7900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:132px;
}
#u7900 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:132px;
}
#u7901 {
  position:absolute;
  left:2px;
  top:58px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:1049px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7902 {
  position:absolute;
  left:242px;
  top:172px;
  width:1103px;
  height:1049px;
}
#u7903 {
  position:absolute;
  left:2px;
  top:516px;
  width:1099px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7904 {
  position:absolute;
  left:264px;
  top:249px;
  width:99px;
  height:36px;
}
#u7905 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u7906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7906 {
  position:absolute;
  left:362px;
  top:249px;
  width:99px;
  height:36px;
}
#u7907 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u7908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7908 {
  position:absolute;
  left:460px;
  top:249px;
  width:99px;
  height:36px;
}
#u7909 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u7910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7910 {
  position:absolute;
  left:558px;
  top:249px;
  width:99px;
  height:36px;
}
#u7911 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u7912 {
  position:absolute;
  left:264px;
  top:305px;
  width:700px;
  height:350px;
  overflow:hidden;
}
#u7912_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:350px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7912_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:350px;
}
#u7913 {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:350px;
}
#u7914 {
  position:absolute;
  left:2px;
  top:167px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7912_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:350px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7912_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:345px;
}
#u7915 {
  position:absolute;
  left:7px;
  top:0px;
  width:803px;
  height:345px;
}
#u7916 {
  position:absolute;
  left:2px;
  top:164px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7912_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:350px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7912_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:350px;
}
#u7917 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:350px;
}
#u7918 {
  position:absolute;
  left:2px;
  top:167px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7912_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:350px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7912_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:277px;
}
#u7919 {
  position:absolute;
  left:64px;
  top:33px;
  width:487px;
  height:277px;
}
#u7920 {
  position:absolute;
  left:2px;
  top:130px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7921 {
  position:absolute;
  left:124px;
  top:719px;
  width:65px;
  height:16px;
  color:#0000FF;
}
#u7922 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7923 {
  position:absolute;
  left:264px;
  top:727px;
  width:0px;
  height:0px;
}
#u7923_seg0 {
  position:absolute;
  left:-75px;
  top:-4px;
  width:79px;
  height:8px;
}
#u7923_seg1 {
  position:absolute;
  left:-82px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7924 {
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u7925 {
  position:absolute;
  left:264px;
  top:719px;
  width:65px;
  height:16px;
  color:#0000FF;
}
#u7926 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7927 {
  position:absolute;
  left:363px;
  top:712px;
  width:283px;
  height:30px;
}
#u7927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7928 {
  position:absolute;
  left:676px;
  top:712px;
  width:75px;
  height:30px;
}
#u7929 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u7930 {
  position:absolute;
  left:264px;
  top:759px;
  width:1019px;
  height:182px;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u7931 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u7932 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u7933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u7933 {
  position:absolute;
  left:142px;
  top:0px;
  width:264px;
  height:30px;
}
#u7934 {
  position:absolute;
  left:2px;
  top:7px;
  width:260px;
  word-wrap:break-word;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u7935 {
  position:absolute;
  left:406px;
  top:0px;
  width:203px;
  height:30px;
}
#u7936 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u7937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u7937 {
  position:absolute;
  left:609px;
  top:0px;
  width:202px;
  height:30px;
}
#u7938 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u7939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u7939 {
  position:absolute;
  left:811px;
  top:0px;
  width:203px;
  height:30px;
}
#u7940 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u7941 {
  position:absolute;
  left:0px;
  top:30px;
  width:142px;
  height:30px;
}
#u7942 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u7943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u7943 {
  position:absolute;
  left:142px;
  top:30px;
  width:264px;
  height:30px;
}
#u7944 {
  position:absolute;
  left:2px;
  top:7px;
  width:260px;
  word-wrap:break-word;
}
#u7945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u7945 {
  position:absolute;
  left:406px;
  top:30px;
  width:203px;
  height:30px;
}
#u7946 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u7947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:30px;
}
#u7947 {
  position:absolute;
  left:609px;
  top:30px;
  width:202px;
  height:30px;
}
#u7948 {
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u7949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u7949 {
  position:absolute;
  left:811px;
  top:30px;
  width:203px;
  height:30px;
}
#u7950 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u7951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:39px;
}
#u7951 {
  position:absolute;
  left:0px;
  top:60px;
  width:142px;
  height:39px;
}
#u7952 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u7953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:39px;
}
#u7953 {
  position:absolute;
  left:142px;
  top:60px;
  width:264px;
  height:39px;
}
#u7954 {
  position:absolute;
  left:2px;
  top:12px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u7955 {
  position:absolute;
  left:406px;
  top:60px;
  width:203px;
  height:39px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:39px;
}
#u7957 {
  position:absolute;
  left:609px;
  top:60px;
  width:202px;
  height:39px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:12px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u7959 {
  position:absolute;
  left:811px;
  top:60px;
  width:203px;
  height:39px;
}
#u7960 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:39px;
}
#u7961 {
  position:absolute;
  left:0px;
  top:99px;
  width:142px;
  height:39px;
}
#u7962 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:39px;
}
#u7963 {
  position:absolute;
  left:142px;
  top:99px;
  width:264px;
  height:39px;
}
#u7964 {
  position:absolute;
  left:2px;
  top:12px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u7965 {
  position:absolute;
  left:406px;
  top:99px;
  width:203px;
  height:39px;
}
#u7966 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:39px;
}
#u7967 {
  position:absolute;
  left:609px;
  top:99px;
  width:202px;
  height:39px;
}
#u7968 {
  position:absolute;
  left:2px;
  top:12px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u7969 {
  position:absolute;
  left:811px;
  top:99px;
  width:203px;
  height:39px;
}
#u7970 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:39px;
}
#u7971 {
  position:absolute;
  left:0px;
  top:138px;
  width:142px;
  height:39px;
}
#u7972 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u7973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:39px;
}
#u7973 {
  position:absolute;
  left:142px;
  top:138px;
  width:264px;
  height:39px;
}
#u7974 {
  position:absolute;
  left:2px;
  top:12px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u7975 {
  position:absolute;
  left:406px;
  top:138px;
  width:203px;
  height:39px;
}
#u7976 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:39px;
}
#u7977 {
  position:absolute;
  left:609px;
  top:138px;
  width:202px;
  height:39px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:12px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u7979 {
  position:absolute;
  left:811px;
  top:138px;
  width:203px;
  height:39px;
}
#u7980 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7981 {
  position:absolute;
  left:1032px;
  top:281px;
  width:71px;
  height:16px;
}
#u7982 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u7983 {
  position:absolute;
  left:1144px;
  top:273px;
  width:78px;
  height:32px;
  font-size:26px;
}
#u7984 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u7985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7985 {
  position:absolute;
  left:1032px;
  top:401px;
  width:71px;
  height:16px;
}
#u7986 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u7987 {
  position:absolute;
  left:1151px;
  top:385px;
  width:64px;
  height:32px;
  font-size:26px;
}
#u7988 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u7989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7989 {
  position:absolute;
  left:1032px;
  top:464px;
  width:71px;
  height:16px;
}
#u7990 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u7991 {
  position:absolute;
  left:1162px;
  top:456px;
  width:43px;
  height:32px;
  font-size:26px;
}
#u7992 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7993 {
  position:absolute;
  left:1016px;
  top:549px;
  width:104px;
  height:16px;
}
#u7994 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u7995 {
  position:absolute;
  left:1158px;
  top:541px;
  width:52px;
  height:32px;
  font-size:26px;
}
#u7996 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u7997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u7997 {
  position:absolute;
  left:294px;
  top:183px;
  width:210px;
  height:34px;
}
#u7998 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7999 {
  position:absolute;
  left:560px;
  top:192px;
  width:29px;
  height:16px;
}
#u8000 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8001 {
  position:absolute;
  left:249px;
  top:192px;
  width:29px;
  height:16px;
}
#u8002 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8003 {
  position:absolute;
  left:875px;
  top:192px;
  width:57px;
  height:16px;
}
#u8004 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8005 {
  position:absolute;
  left:264px;
  top:107px;
  width:71px;
  height:16px;
}
#u8006 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u8007 {
  position:absolute;
  left:345px;
  top:99px;
  width:132px;
  height:32px;
  font-size:26px;
}
#u8008 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u8009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8009 {
  position:absolute;
  left:508px;
  top:107px;
  width:71px;
  height:16px;
}
#u8010 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u8011 {
  position:absolute;
  left:589px;
  top:99px;
  width:132px;
  height:32px;
  font-size:26px;
}
#u8012 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u8013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
}
#u8013 {
  position:absolute;
  left:1132px;
  top:1161px;
  width:162px;
  height:39px;
}
#u8014 {
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8015 {
  position:absolute;
  left:607px;
  top:185px;
  width:176px;
  height:31px;
}
#u8015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8015_input:disabled {
  color:grayText;
}
#u8016 {
  position:absolute;
  left:942px;
  top:185px;
  width:176px;
  height:31px;
}
#u8016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8016_input:disabled {
  color:grayText;
}
#u8017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8017 {
  position:absolute;
  left:1032px;
  top:323px;
  width:62px;
  height:16px;
}
#u8018 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u8019 {
  position:absolute;
  left:1144px;
  top:315px;
  width:64px;
  height:32px;
  font-size:26px;
}
#u8020 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u8021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8021 {
  position:absolute;
  left:1369px;
  top:172px;
  width:234px;
  height:150px;
}
#u8022 {
  position:absolute;
  left:10px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
