body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:591px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6876 {
  position:absolute;
  left:0px;
  top:72px;
  width:197px;
  height:591px;
}
#u6877 {
  position:absolute;
  left:2px;
  top:288px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6878 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
}
#u6879 {
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6880 {
  position:absolute;
  left:1136px;
  top:25px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u6881 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6882 {
  position:absolute;
  left:33px;
  top:18px;
  width:262px;
  height:28px;
  font-size:24px;
}
#u6883 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u6884 {
  position:absolute;
  left:29px;
  top:139px;
  width:118px;
  height:85px;
}
#u6884_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u6886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6886 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6886_img.selected {
}
#u6886.selected {
}
#u6887 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6888 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6889 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6885_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6890 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u6891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6891 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6892 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6893 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u6894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6894 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6895 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u6896 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u6897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6897 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6898 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6899 {
  position:absolute;
  left:29px;
  top:233px;
  width:118px;
  height:105px;
}
#u6899_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6900 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6901 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6901_img.selected {
}
#u6901.selected {
}
#u6902 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6903 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6904 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6900_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6905 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6906 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6907 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6908 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6909 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6910 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6911 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6912 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6913 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6914 {
  position:absolute;
  left:20px;
  top:80px;
  width:93px;
  height:20px;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6915 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6916 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u6917 {
  position:absolute;
  left:29px;
  top:357px;
  width:105px;
  height:65px;
}
#u6917_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6918 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6919 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6919_img.selected {
}
#u6919.selected {
}
#u6920 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6921 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6922 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6918_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6923 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u6924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6924 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6925 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6926 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6927 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6928 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u6929 {
  position:absolute;
  left:1268px;
  top:30px;
  width:19px;
  height:12px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931 {
  position:absolute;
  left:29px;
  top:509px;
  width:131px;
  height:145px;
}
#u6931_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6933 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6933_img.selected {
}
#u6933.selected {
}
#u6934 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6935 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6936 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6932_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6937 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6938 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6939 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6940 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6941 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6942 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6943 {
  position:absolute;
  left:20px;
  top:60px;
  width:77px;
  height:20px;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6944 {
  position:absolute;
  left:22px;
  top:0px;
  width:55px;
  height:20px;
}
#u6945 {
  position:absolute;
  left:3px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u6946 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
}
#u6947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6947 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6948 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u6949 {
  position:absolute;
  left:20px;
  top:100px;
  width:93px;
  height:20px;
}
#u6950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6950 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6951 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u6952 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
}
#u6953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6953 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u6954 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u6955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6955 {
  position:absolute;
  left:50px;
  top:109px;
  width:29px;
  height:16px;
}
#u6956 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6957 {
  position:absolute;
  left:36px;
  top:439px;
  width:118px;
  height:65px;
}
#u6957_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6958 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u6959 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u6959_img.selected {
}
#u6959.selected {
}
#u6960 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6961 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6962 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u6958_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6963 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u6964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6964 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u6965 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u6966 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6967 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u6968 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u6969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:193px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6969 {
  position:absolute;
  left:222px;
  top:97px;
  width:520px;
  height:193px;
}
#u6970 {
  position:absolute;
  left:2px;
  top:88px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6971 {
  position:absolute;
  left:249px;
  top:121px;
  width:71px;
  height:16px;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u6973 {
  position:absolute;
  left:249px;
  top:147px;
  width:78px;
  height:32px;
  font-size:26px;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u6975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u6975 {
  position:absolute;
  left:393px;
  top:121px;
  width:37px;
  height:34px;
}
#u6976 {
  position:absolute;
  left:2px;
  top:9px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6977 {
  position:absolute;
  left:495px;
  top:121px;
  width:85px;
  height:16px;
}
#u6978 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u6979 {
  position:absolute;
  left:495px;
  top:147px;
  width:43px;
  height:32px;
  font-size:26px;
}
#u6980 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u6981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u6981 {
  position:absolute;
  left:639px;
  top:121px;
  width:37px;
  height:33px;
}
#u6982 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:580px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6983 {
  position:absolute;
  left:222px;
  top:300px;
  width:1123px;
  height:580px;
}
#u6984 {
  position:absolute;
  left:2px;
  top:282px;
  width:1119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:193px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6985 {
  position:absolute;
  left:782px;
  top:97px;
  width:563px;
  height:193px;
}
#u6986 {
  position:absolute;
  left:2px;
  top:88px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6988 {
  position:absolute;
  left:249px;
  top:219px;
  width:85px;
  height:16px;
}
#u6989 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u6990 {
  position:absolute;
  left:249px;
  top:245px;
  width:78px;
  height:32px;
  font-size:26px;
}
#u6991 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u6992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u6992 {
  position:absolute;
  left:367px;
  top:228px;
  width:50px;
  height:35px;
}
#u6993 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:539px;
}
#u6994 {
  position:absolute;
  left:239px;
  top:322px;
  width:693px;
  height:539px;
}
#u6995 {
  position:absolute;
  left:2px;
  top:262px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6996 {
  position:absolute;
  left:840px;
  top:121px;
  width:85px;
  height:16px;
}
#u6997 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u6998 {
  position:absolute;
  left:840px;
  top:147px;
  width:64px;
  height:32px;
  font-size:26px;
}
#u6999 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u7000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7000 {
  position:absolute;
  left:840px;
  top:219px;
  width:57px;
  height:16px;
}
#u7001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u7002 {
  position:absolute;
  left:840px;
  top:245px;
  width:64px;
  height:32px;
  font-size:26px;
}
#u7003 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u7004 {
  position:absolute;
  left:964px;
  top:219px;
  width:32px;
  height:33px;
}
#u7005 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u7006 {
  position:absolute;
  left:964px;
  top:122px;
  width:32px;
  height:34px;
}
#u7007 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7008 {
  position:absolute;
  left:1108px;
  top:121px;
  width:99px;
  height:16px;
}
#u7009 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u7010 {
  position:absolute;
  left:1108px;
  top:147px;
  width:43px;
  height:32px;
  font-size:26px;
}
#u7011 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7012 {
  position:absolute;
  left:1108px;
  top:219px;
  width:71px;
  height:16px;
}
#u7013 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u7014 {
  position:absolute;
  left:1108px;
  top:245px;
  width:43px;
  height:32px;
  font-size:26px;
}
#u7015 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7016 {
  position:absolute;
  left:1252px;
  top:121px;
  width:34px;
  height:34px;
}
#u7017 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u7018 {
  position:absolute;
  left:1252px;
  top:219px;
  width:34px;
  height:34px;
}
#u7019 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7020 {
  position:absolute;
  left:495px;
  top:207px;
  width:71px;
  height:16px;
}
#u7021 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u7022 {
  position:absolute;
  left:495px;
  top:233px;
  width:43px;
  height:32px;
  font-size:26px;
}
#u7023 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u7024 {
  position:absolute;
  left:639px;
  top:207px;
  width:37px;
  height:33px;
}
#u7025 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7027 {
  position:absolute;
  left:969px;
  top:522px;
  width:43px;
  height:16px;
}
#u7028 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7029 {
  position:absolute;
  left:994px;
  top:566px;
  width:71px;
  height:16px;
}
#u7030 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7031 {
  position:absolute;
  left:994px;
  top:608px;
  width:85px;
  height:16px;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:73px;
}
#u7033 {
  position:absolute;
  left:1089px;
  top:559px;
  width:159px;
  height:73px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:28px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7035 {
  position:absolute;
  left:1225px;
  top:567px;
  width:45px;
  height:16px;
}
#u7036 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7037 {
  position:absolute;
  left:1225px;
  top:609px;
  width:45px;
  height:16px;
}
#u7038 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7040 {
  position:absolute;
  left:1162px;
  top:700px;
  width:99px;
  height:16px;
}
#u7041 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:94px;
}
#u7042 {
  position:absolute;
  left:1235px;
  top:727px;
  width:99px;
  height:94px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:39px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
}
#u7044 {
  position:absolute;
  left:1162px;
  top:775px;
  width:48px;
  height:41px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7046 {
  position:absolute;
  left:1406px;
  top:524px;
  width:150px;
  height:150px;
}
#u7047 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7049 {
  position:absolute;
  left:950px;
  top:700px;
  width:81px;
  height:16px;
}
#u7050 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u7051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:94px;
}
#u7051 {
  position:absolute;
  left:1035px;
  top:727px;
  width:96px;
  height:94px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:39px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:60px;
}
#u7053 {
  position:absolute;
  left:950px;
  top:761px;
  width:52px;
  height:60px;
}
#u7054 {
  position:absolute;
  left:2px;
  top:22px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(204, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7055 {
  position:absolute;
  left:249px;
  top:733px;
  width:56px;
  height:19px;
}
#u7056 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 222, 173, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7057 {
  position:absolute;
  left:249px;
  top:762px;
  width:56px;
  height:19px;
}
#u7058 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7059 {
  position:absolute;
  left:249px;
  top:791px;
  width:56px;
  height:19px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7061 {
  position:absolute;
  left:315px;
  top:794px;
  width:30px;
  height:16px;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7063 {
  position:absolute;
  left:315px;
  top:764px;
  width:54px;
  height:16px;
}
#u7064 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u7065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7065 {
  position:absolute;
  left:315px;
  top:733px;
  width:61px;
  height:16px;
}
#u7066 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7067 {
  position:absolute;
  left:969px;
  top:322px;
  width:113px;
  height:16px;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u7069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u7069 {
  position:absolute;
  left:1023px;
  top:475px;
  width:256px;
  height:1px;
}
#u7070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:129px;
}
#u7071 {
  position:absolute;
  left:1022px;
  top:348px;
  width:1px;
  height:128px;
}
#u7072 {
  position:absolute;
  left:2px;
  top:56px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:112px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7073 {
  position:absolute;
  left:1039px;
  top:364px;
  width:26px;
  height:112px;
}
#u7074 {
  position:absolute;
  left:2px;
  top:48px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:89px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7075 {
  position:absolute;
  left:1098px;
  top:387px;
  width:26px;
  height:89px;
}
#u7076 {
  position:absolute;
  left:2px;
  top:36px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:64px;
  background:inherit;
  background-color:rgba(51, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7077 {
  position:absolute;
  left:1156px;
  top:412px;
  width:26px;
  height:64px;
}
#u7078 {
  position:absolute;
  left:2px;
  top:24px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:9px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7079 {
  position:absolute;
  left:933px;
  top:489px;
  width:412px;
  height:9px;
}
#u7080 {
  position:absolute;
  left:2px;
  top:-4px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:171px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7081 {
  position:absolute;
  left:1368px;
  top:97px;
  width:292px;
  height:171px;
}
#u7082 {
  position:absolute;
  left:10px;
  top:10px;
  width:272px;
  word-wrap:break-word;
}
