body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10991 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u10992 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10993 {
  position:absolute;
  left:118px;
  top:13px;
  width:123px;
  height:25px;
}
#u10993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u10994 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u10995 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10997 {
  position:absolute;
  left:0px;
  top:76px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10998 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u11000 {
  position:absolute;
  left:0px;
  top:127px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u11001 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u11002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u11003 {
  position:absolute;
  left:279px;
  top:138px;
  width:57px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u11003_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u11003.selected {
}
#u11004 {
  position:absolute;
  left:6px;
  top:3px;
  width:45px;
  word-wrap:break-word;
}
#u11005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u11005 {
  position:absolute;
  left:311px;
  top:139px;
  width:23px;
  height:20px;
}
#u11006 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11008 {
  position:absolute;
  left:183px;
  top:83px;
  width:142px;
  height:25px;
}
#u11008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11009 {
  position:absolute;
  left:118px;
  top:207px;
  width:140px;
  height:40px;
}
#u11010 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
