body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:591px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3957 {
  position:absolute;
  left:0px;
  top:72px;
  width:197px;
  height:591px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:288px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3961 {
  position:absolute;
  left:1136px;
  top:25px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u3963 {
  position:absolute;
  left:33px;
  top:18px;
  width:262px;
  height:28px;
  font-size:24px;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u3965 {
  position:absolute;
  left:29px;
  top:139px;
  width:118px;
  height:85px;
}
#u3965_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3967 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3967_img.selected {
}
#u3967.selected {
}
#u3968 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3970 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3966_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3971 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3972 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3973 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3974 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3975 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u3976 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u3977 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3978 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3979 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3980 {
  position:absolute;
  left:29px;
  top:233px;
  width:118px;
  height:105px;
}
#u3980_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3982 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3982_img.selected {
}
#u3982.selected {
}
#u3983 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3984 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3985 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3981_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3986 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3987 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3988 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3989 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3990 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3991 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3992 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3993 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3994 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3995 {
  position:absolute;
  left:20px;
  top:80px;
  width:93px;
  height:20px;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u3997 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u3998 {
  position:absolute;
  left:29px;
  top:357px;
  width:105px;
  height:65px;
}
#u3998_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3999 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4000 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4000_img.selected {
}
#u4000.selected {
}
#u4001 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4003 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3999_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4004 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4006 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u4007 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u4008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4008 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4009 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u4010 {
  position:absolute;
  left:1268px;
  top:30px;
  width:19px;
  height:12px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012 {
  position:absolute;
  left:29px;
  top:509px;
  width:131px;
  height:145px;
}
#u4012_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4013 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4014 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4014_img.selected {
}
#u4014.selected {
}
#u4015 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4016 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4017 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u4013_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4019 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4020 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u4021 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4022 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4023 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u4024 {
  position:absolute;
  left:20px;
  top:60px;
  width:77px;
  height:20px;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  position:absolute;
  left:22px;
  top:0px;
  width:55px;
  height:20px;
}
#u4026 {
  position:absolute;
  left:3px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u4027 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4028 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u4029 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u4030 {
  position:absolute;
  left:20px;
  top:100px;
  width:93px;
  height:20px;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4031 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u4032 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u4033 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4034 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u4035 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4036 {
  position:absolute;
  left:50px;
  top:109px;
  width:29px;
  height:16px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4038 {
  position:absolute;
  left:36px;
  top:439px;
  width:118px;
  height:65px;
}
#u4038_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4039 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u4040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4040 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4040_img.selected {
}
#u4040.selected {
}
#u4041 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4042 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u4043 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u4039_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4044 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4045 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4046 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u4047 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u4049 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u4050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:75px;
}
#u4050 {
  position:absolute;
  left:197px;
  top:72px;
  width:1148px;
  height:75px;
}
#u4051 {
  position:absolute;
  left:2px;
  top:30px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u4052 {
  position:absolute;
  left:229px;
  top:99px;
  width:75px;
  height:30px;
  color:#333333;
}
#u4053 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4054 {
  position:absolute;
  left:421px;
  top:246px;
  width:52px;
  height:16px;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4056 {
  position:absolute;
  left:360px;
  top:293px;
  width:123px;
  height:16px;
  text-align:right;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u4058 {
  position:absolute;
  left:483px;
  top:241px;
  width:300px;
  height:25px;
}
#u4058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4059 {
  position:absolute;
  left:483px;
  top:284px;
  width:300px;
  height:25px;
}
#u4059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4060 {
  position:absolute;
  left:394px;
  top:393px;
  width:90px;
  height:16px;
  text-align:right;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u4062 {
  position:absolute;
  left:494px;
  top:386px;
  width:300px;
  height:170px;
}
#u4062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4063 {
  position:absolute;
  left:332px;
  top:99px;
  width:75px;
  height:30px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4065 {
  position:absolute;
  left:361px;
  top:332px;
  width:123px;
  height:16px;
  text-align:right;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u4067 {
  position:absolute;
  left:484px;
  top:325px;
  width:199px;
  height:31px;
}
#u4067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4067_input:disabled {
  color:grayText;
}
