body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8778 {
  position:absolute;
  left:0px;
  top:-50px;
  width:360px;
  height:604px;
}
#u8779 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u8780 {
  position:absolute;
  left:110px;
  top:468px;
  width:140px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u8781 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u8782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:95px;
}
#u8782 {
  position:absolute;
  left:113px;
  top:96px;
  width:137px;
  height:94px;
}
#u8783 {
  position:absolute;
  left:2px;
  top:39px;
  width:133px;
  word-wrap:break-word;
}
#u8784 {
  position:absolute;
  left:240px;
  top:90px;
  width:100px;
  height:16px;
}
#u8785 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8784_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:95px;
}
#u8786 {
  position:absolute;
  left:113px;
  top:257px;
  width:137px;
  height:94px;
}
#u8787 {
  position:absolute;
  left:2px;
  top:39px;
  width:133px;
  word-wrap:break-word;
}
#u8788 {
  position:absolute;
  left:240px;
  top:251px;
  width:100px;
  height:16px;
}
#u8789 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8788_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8790 {
  position:absolute;
  left:162px;
  top:200px;
  width:47px;
  height:25px;
}
#u8790_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8791 {
  position:absolute;
  left:162px;
  top:361px;
  width:47px;
  height:25px;
}
#u8791_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
