body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:-2px;
  top:1px;
  width:344px;
  height:592px;
}
#u703 {
  position:absolute;
  left:2px;
  top:288px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704 {
  position:absolute;
  left:144px;
  top:13px;
  width:73px;
  height:25px;
}
#u704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u705 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u706 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u708 {
  position:absolute;
  left:150px;
  top:103px;
  width:59px;
  height:52px;
}
#u709 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u711_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:31px;
  height:5px;
}
#u711 {
  position:absolute;
  left:166px;
  top:128px;
  width:28px;
  height:2px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:27px;
}
#u713 {
  position:absolute;
  left:179px;
  top:117px;
  width:2px;
  height:24px;
}
#u714 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u715 {
  position:absolute;
  left:138px;
  top:172px;
  width:85px;
  height:16px;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:60px;
}
#u718 {
  position:absolute;
  left:10px;
  top:284px;
  width:95px;
  height:60px;
}
#u719 {
  position:absolute;
  left:2px;
  top:22px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720 {
  position:absolute;
  left:114px;
  top:284px;
  width:69px;
  height:25px;
}
#u720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u721 {
  position:absolute;
  left:234px;
  top:284px;
  width:96px;
  height:25px;
}
#u721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u722 {
  position:absolute;
  left:115px;
  top:311px;
  width:89px;
  height:24px;
}
#u722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:1px;
}
#u723 {
  position:absolute;
  left:0px;
  top:353px;
  width:342px;
  height:1px;
}
#u724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
