body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:591px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5059 {
  position:absolute;
  left:0px;
  top:72px;
  width:197px;
  height:591px;
}
#u5060 {
  position:absolute;
  left:2px;
  top:288px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5061 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5063 {
  position:absolute;
  left:1136px;
  top:25px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u5064 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u5065 {
  position:absolute;
  left:33px;
  top:18px;
  width:262px;
  height:28px;
  font-size:24px;
}
#u5066 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u5067 {
  position:absolute;
  left:29px;
  top:139px;
  width:118px;
  height:85px;
}
#u5067_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5069 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5069_img.selected {
}
#u5069.selected {
}
#u5070 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5071 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5072 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5068_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5073 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u5074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5074 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5075 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5076 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5077 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5078 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u5079 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u5080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5080 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5081 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5082 {
  position:absolute;
  left:29px;
  top:233px;
  width:118px;
  height:105px;
}
#u5082_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5083 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5084 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5084_img.selected {
}
#u5084.selected {
}
#u5085 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5086 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5087 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5083_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5088 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5089 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5090 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5091 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u5092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5092 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5093 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5094 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u5095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5095 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5096 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5097 {
  position:absolute;
  left:20px;
  top:80px;
  width:93px;
  height:20px;
}
#u5098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5098 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5099 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u5100 {
  position:absolute;
  left:29px;
  top:357px;
  width:105px;
  height:65px;
}
#u5100_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5101 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5102 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5102_img.selected {
}
#u5102.selected {
}
#u5103 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5104 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5105 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5101_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5106 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5107 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5108 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5109 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u5110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5110 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5111 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u5112 {
  position:absolute;
  left:1268px;
  top:30px;
  width:19px;
  height:12px;
}
#u5113 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5114 {
  position:absolute;
  left:29px;
  top:509px;
  width:131px;
  height:145px;
}
#u5114_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5115 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5116 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5116_img.selected {
}
#u5116.selected {
}
#u5117 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5118 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5119 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5115_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5120 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5122 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5123 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u5124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5124 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5125 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5126 {
  position:absolute;
  left:20px;
  top:60px;
  width:77px;
  height:20px;
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5127 {
  position:absolute;
  left:22px;
  top:0px;
  width:55px;
  height:20px;
}
#u5128 {
  position:absolute;
  left:3px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u5129 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
}
#u5130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5130 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5131 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5132 {
  position:absolute;
  left:20px;
  top:100px;
  width:93px;
  height:20px;
}
#u5133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5133 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5134 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u5135 {
  position:absolute;
  left:20px;
  top:120px;
  width:106px;
  height:20px;
}
#u5136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5136 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u5137 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5138 {
  position:absolute;
  left:50px;
  top:109px;
  width:29px;
  height:16px;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5140 {
  position:absolute;
  left:36px;
  top:439px;
  width:118px;
  height:65px;
}
#u5140_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5142 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5142_img.selected {
}
#u5142.selected {
}
#u5143 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5144 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5145 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u5141_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5146 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u5147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5147 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u5148 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5149 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u5150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5150 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5151 {
  position:absolute;
  left:3px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:75px;
}
#u5152 {
  position:absolute;
  left:197px;
  top:72px;
  width:1148px;
  height:75px;
}
#u5153 {
  position:absolute;
  left:2px;
  top:30px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u5154 {
  position:absolute;
  left:229px;
  top:99px;
  width:75px;
  height:30px;
  color:#333333;
}
#u5155 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u5156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5156 {
  position:absolute;
  left:367px;
  top:246px;
  width:106px;
  height:16px;
  text-align:right;
}
#u5157 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u5158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5158 {
  position:absolute;
  left:303px;
  top:333px;
  width:170px;
  height:16px;
  text-align:right;
}
#u5159 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5160 {
  position:absolute;
  left:483px;
  top:241px;
  width:300px;
  height:25px;
}
#u5160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5161 {
  position:absolute;
  left:483px;
  top:324px;
  width:300px;
  height:25px;
}
#u5161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5162 {
  position:absolute;
  left:383px;
  top:431px;
  width:90px;
  height:16px;
  text-align:right;
}
#u5163 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5164 {
  position:absolute;
  left:332px;
  top:99px;
  width:75px;
  height:30px;
}
#u5165 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5166 {
  position:absolute;
  left:344px;
  top:373px;
  width:129px;
  height:16px;
  text-align:right;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u5168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5168 {
  position:absolute;
  left:366px;
  top:287px;
  width:107px;
  height:16px;
  text-align:right;
}
#u5169 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u5170 {
  position:absolute;
  left:483px;
  top:282px;
  width:300px;
  height:25px;
}
#u5170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5171 {
  position:absolute;
  left:483px;
  top:364px;
  width:300px;
  height:57px;
}
#u5171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5172 {
  position:absolute;
  left:483px;
  top:431px;
  width:50px;
  height:16px;
}
#u5173 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u5172_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5174 {
  position:absolute;
  left:543px;
  top:431px;
  width:50px;
  height:16px;
}
#u5175 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u5174_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
