body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1112px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:47px;
}
#u8648 {
  position:absolute;
  left:14px;
  top:17px;
  width:213px;
  height:47px;
}
#u8649 {
  position:absolute;
  left:2px;
  top:16px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8650 {
  position:absolute;
  left:708px;
  top:9px;
  width:135px;
  height:55px;
}
#u8651 {
  position:absolute;
  left:2px;
  top:20px;
  width:131px;
  word-wrap:break-word;
}
#u8652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8652 {
  position:absolute;
  left:843px;
  top:9px;
  width:133px;
  height:55px;
}
#u8653 {
  position:absolute;
  left:2px;
  top:20px;
  width:129px;
  word-wrap:break-word;
}
#u8654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8654 {
  position:absolute;
  left:976px;
  top:9px;
  width:136px;
  height:55px;
}
#u8655 {
  position:absolute;
  left:2px;
  top:20px;
  width:132px;
  word-wrap:break-word;
}
#u8656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:130px;
}
#u8656 {
  position:absolute;
  left:59px;
  top:134px;
  width:218px;
  height:130px;
  text-align:left;
}
#u8657 {
  position:absolute;
  left:2px;
  top:5px;
  width:214px;
  word-wrap:break-word;
}
#u8658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:131px;
}
#u8658 {
  position:absolute;
  left:378px;
  top:134px;
  width:179px;
  height:130px;
}
#u8659 {
  position:absolute;
  left:2px;
  top:57px;
  width:175px;
  word-wrap:break-word;
}
#u8660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u8660 {
  position:absolute;
  left:580px;
  top:172px;
  width:87px;
  height:38px;
}
#u8661 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u8662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:131px;
}
#u8662 {
  position:absolute;
  left:747px;
  top:134px;
  width:179px;
  height:130px;
}
#u8663 {
  position:absolute;
  left:2px;
  top:57px;
  width:175px;
  word-wrap:break-word;
}
#u8664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8664 {
  position:absolute;
  left:580px;
  top:224px;
  width:87px;
  height:32px;
}
#u8665 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u8666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u8666 {
  position:absolute;
  left:951px;
  top:172px;
  width:87px;
  height:38px;
}
#u8667 {
  position:absolute;
  left:2px;
  top:11px;
  width:83px;
  word-wrap:break-word;
}
#u8668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8668 {
  position:absolute;
  left:951px;
  top:224px;
  width:87px;
  height:32px;
}
#u8669 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u8670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:96px;
}
#u8670 {
  position:absolute;
  left:378px;
  top:367px;
  width:305px;
  height:96px;
  text-align:left;
}
#u8671 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u8672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:130px;
}
#u8672 {
  position:absolute;
  left:347px;
  top:487px;
  width:674px;
  height:130px;
}
#u8673 {
  position:absolute;
  left:2px;
  top:57px;
  width:670px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:58px;
}
#u8674 {
  position:absolute;
  left:59px;
  top:367px;
  width:218px;
  height:58px;
  text-align:left;
}
#u8675 {
  position:absolute;
  left:2px;
  top:5px;
  width:214px;
  word-wrap:break-word;
}
#u8676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u8676 {
  position:absolute;
  left:583px;
  top:418px;
  width:84px;
  height:32px;
}
#u8677 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:65px;
}
#u8678 {
  position:absolute;
  left:59px;
  top:540px;
  width:218px;
  height:65px;
  text-align:left;
}
#u8679 {
  position:absolute;
  left:2px;
  top:16px;
  width:214px;
  word-wrap:break-word;
}
#u8680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u8680 {
  position:absolute;
  left:59px;
  top:320px;
  width:111px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u8681 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u8682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u8682 {
  position:absolute;
  left:378px;
  top:330px;
  width:111px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8683 {
  position:absolute;
  left:2px;
  top:9px;
  width:107px;
  word-wrap:break-word;
}
#u8684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:96px;
}
#u8684 {
  position:absolute;
  left:747px;
  top:367px;
  width:305px;
  height:96px;
  text-align:left;
}
#u8685 {
  position:absolute;
  left:2px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u8686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u8686 {
  position:absolute;
  left:747px;
  top:330px;
  width:111px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8687 {
  position:absolute;
  left:2px;
  top:9px;
  width:107px;
  word-wrap:break-word;
}
#u8688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u8688 {
  position:absolute;
  left:968px;
  top:418px;
  width:84px;
  height:32px;
}
#u8689 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:39px;
}
#u8690 {
  position:absolute;
  left:59px;
  top:481px;
  width:104px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u8691 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
#u8692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:39px;
}
#u8692 {
  position:absolute;
  left:59px;
  top:676px;
  width:104px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u8693 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
#u8694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:197px;
}
#u8694 {
  position:absolute;
  left:59px;
  top:739px;
  width:979px;
  height:197px;
}
#u8695 {
  position:absolute;
  left:2px;
  top:90px;
  width:975px;
  visibility:hidden;
  word-wrap:break-word;
}
